{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/292d62285d.js" crossorigin="anonymous"></script>
    <title>Document</title>

    {{block "css" .}}

    {{end}}
</head>
<body>

<!--at here-->

<div id="header">

    <div id="top_menu" class="navbar d-flex">
        <div class="me-5"></div>
        <div class="telnum">C/S CENTER
            <span>02-6299-5684</span>
        </div>
        <div class="combtn dropdown me-md-auto">
            <a class="nav-link dropdown-toggle" href="#none" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <!--                <img src="..." alt="아이콘">-->
                <i class="fas fa-align-justify"></i>
                COMMUNITY
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">NEWS</a></li>
                <li><a class="dropdown-item" href="#">Q&amp;A</a></li>
                <li><a class="dropdown-item" href="#">REVIEW</a></li>
                <li><a class="dropdown-item" href="#">EVENT</a></li>
            </ul>
        </div>
        <div class="search nav">
            <li class="nav-item"><a class="pe-3" href="#">LOGIN</a></li>
            <li class="nav-item"><a class="pe-3" href="#">JOIN</a></li>
            <li class="nav-item"><a class="pe-3" href="#">CART
                <span>0</span></a></li>
            <li class="nav-item"><a class="pe-3" href="#">ORDER</a></li>
            <li class="nav-item"><a class="pe-3" href="#">MY PAGE</a></li>
            <li class="nav-item"><i class="pe-3 fas fa-search" href="#"></i></li>
        </div>
        <ul>
            <!--        something    -->
        </ul>

    </div>


</div>

<div class="k">

    <nav class="main_menu navbar navbar-expand-md">

        <div class="me-5"></div>
        <div class="logo mr-auto">
            <a href="/">
                <!--<img src="..." alt="...">-->
                <img src="https://user-images.githubusercontent.com/81312250/145674551-341b53cc-2040-47eb-ba82-4d710207c83b.png" alt="">

            </a>
        </div>
        <div class="main_category mx-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link pe-5" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-5" href="#">STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-5" href="#">100주년</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link pe-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        KITCHEN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">보관용기</a></li>
                        <li><a class="dropdown-item" href="#">커피메이커</a></li>
                        <li><a class="dropdown-item" href="#">주전자</a></li>
                        <li><a class="dropdown-item" href="#">냄비&팬</a></li>
                        <li><a class="dropdown-item" href="#">전자제품</a></li>
                        <li><a class="dropdown-item" href="#">주방소품</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link pe-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        TABLE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">과일바구니&바스켓</a></li>
                        <li><a class="dropdown-item" href="#">쟁반&트레이</a></li>
                        <li><a class="dropdown-item" href="#">컵&잔 글라스류</a></li>
                        <li><a class="dropdown-item" href="#">숟가락&포크&나이프</a></li>
                        <li><a class="dropdown-item" href="#">그릇&식기</a></li>
                        <li><a class="dropdown-item" href="#">양념통&그라인더</a></li>
                        <li><a class="dropdown-item" href="#">서빙&악세서리</a></li>
                        <li><a class="dropdown-item" href="#">커피&티</a></li>
                        <li><a class="dropdown-item" href="#">조식 용품</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link pe-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        BAR & WINES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">오프너&캡</a></li>
                        <li><a class="dropdown-item" href="#">버켓&쿨러</a></li>
                        <li><a class="dropdown-item" href="#">쉐이커</a></li>
                        <li><a class="dropdown-item" href="#">악세서리</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link pe-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        HOME
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">가구</a></li>
                        <li><a class="dropdown-item" href="#">화장실</a></li>
                        <li><a class="dropdown-item" href="#">디퓨저&방향제</a></li>
                        <li><a class="dropdown-item" href="#">벽시계</a></li>
                        <li><a class="dropdown-item" href="#">오피스</a></li>
                        <li><a class="dropdown-item" href="#">인테리어소품</a></li>
                        <li><a class="dropdown-item" href="#">애완용품</a></li>
                        <li><a class="dropdown-item" href="#">크리스마스 용품</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link pe-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        LIFESTYLE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">100주년</a></li>
                        <li><a class="dropdown-item" href="#">리미티드 에디션</a></li>
                        <li><a class="dropdown-item" href="#">야외 용품</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-5" href="#">ONLY YOU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-5" href="#">DESIGNER</a>
                </li>

            </ul>
        </div>
        <div class="coupon ml-auto">
            <a href="...">
                <!--                <img src="..." alt="...">-->
                <img src="https://user-images.githubusercontent.com/81312250/145675761-7c4dfa66-5ad2-46b2-8368-83104321c6a6.png" alt="">
            </a>
        </div>

    </nav>
</div>

<!--to here-->

{{block "content" .}}

{{end}}


{{block "js" .}}

{{end}}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>


</body>
</html>
{{end}}